body {
  margin: 0
  padding: 0;
  background: #ccc;
  margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Avenir Next';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a{
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #FF6B6C;
}

.nav a.active {
  background-color: #fff;
  color: #444;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 80px;
    line-height: 80px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
  }

  .nav ui {
    overflow: auto;
  }

  .logo {
    float: left;
    height: 80px;
    width: 80px;
    margin-left: 30px;
  }

  .mainPage {
    position: relative;
    text-align: center;
    color: black;
  }

  .name {
    position: absolute;
    left: 41%;
    top: 25%;
    font-family: 'Avenir Next';
    font-size: 5.5em;
  }

  .intro {
    position: absolute;
    left: 41.3%;
    top: 50%;
    right: 5%;
    font-family: 'Avenir Next';
    font-size: 1.4em;
    text-align: left;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 1%;
    width: 100%;
    color: black;
    height: 50px;
    text-align: center;
  }

  .copyright {
    position: absolute;
    text-align: left;
    color: black;
    margin-top: 1%;
    left: 3%;
    font-family: 'Avenir Next';
    font-size: 1.2em;
  }

  .socialLinks {
    position: absolute;
    text-align: right;
    right: 3%;
    font-family: 'Avenir Next';
    font-size: 1.2em;
  }

  .facebookIcon {
    margin-top: 0.5%;
    height: 35px;
    width: 35px;
  }

  .linkedinIcon {
    margin-top: 0;
    height: 20px;
    width: 20px;
  }

}
